

  

    
      <div class="footer">
          <h2>{{ site.title | escape }}</h2>
          <p>
              {%- if site.author -%}
                  {{ site.author | escape }}
              {%- else -%}
                  {{ site.title | escape }}
              {%- endif -%}
          </p> <!-- Closing paragraph tag -->
          
          {%- if site.email -%}
              <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          {%- endif -%}
          
          <p>{{- site.description | escape -}}</p>
      </div>






      <div class="col-6 col-s-9">
			{%- include social.html -%}
      </div>






  


