

  

    
      <div class="footer">

          <h2>{{ site.title | escape }}</h2>

          <p>
              {%- if site.author -%}
                  {{ site.author | escape }}
              {%- endif -%}
          </p>
          
          
        <!--   <p>
            {%- if site.email -%}
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            {%- endif -%}
          </p> -->

          <p>{{- site.description | escape -}}</p>

      </div>
 





      <div class="col-6 col-s-9">
			{%- include social.html -%}
      </div>






  


