

  <!--- <div class="header">



     style="display:block ;  margin:auto ; float:left <a1 class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a1>  : Removed as logo made homeclick title as below

	<a1 style= "width:250px; display: block; margin-left:600px; float:left" href="{{ "/" | relative_url }}">

	<a1 style="width: 200px ; float:right; padding:20px" href="{{ "/about/"| relative_url }}"> About me </a1>

	--->

<!--
	<a1 class="col-7 col-s-7" style="text-align:right;" href="{{ "/" | relative_url }}">

		{%- if site.title-logo -%}
			<img src= "{{ site.title-logo | relative_url }}"></img>
		{%- else -%}
			{{ site.title | escape }}
		{%- endif -%}

	</a1>


	 <a1 class="col-3 col-s-3" style="text-align:right; font-family: cursive; font-size: 18px; color: red;" href="{{ "/about/"| relative_url }}"> About me </a1>


  </div>
-->

<!-------------->





<!--CSS Code for navbar is below within head tag -->


<head>
	<style>
		.navbar{
			background-color: #c7ecf8;
			border-radius: 30px;
		}
		.navbar ul{
			overflow: auto;
		}
		.navbar li{
			float: left;
			list-style: none;
			margin: 2px 50px;
		}
		.navbar li a{
			padding: 3px 3px;
			text-decoration: none;
		}
		.navbar li a:hover{
			color: red;
		}
		.navbar li#men{
			margin: 17px 50px;
		}
	</style>
</head>








<body>
	<header>

		<nav class="navbar">

			<ul>
				<li><a href="/"> <img src= "{{ site.title-logo | relative_url }}"></img> </a></li>
				<li id="men"><a href="/">Home</a></li>
				<li id="men"><a href="/about/">About</a></li>
				<li id="men"><a href="/pages/literary/">Poetry</a></li>
				<li id="men"><a href="/pages/GK/">GK</a></li>
				<li id="men"><a href="/pages/tech/">Tech</a></li>
			</ul>

		</nav>

	</header>
</body>



















<!--

<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/"> <img src= "{{ site.title-logo | relative_url }}"></img> </a>
        <nav id="navbar">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>


            		{% for my_page in site.pages %}
                    {% if my_page.layout == 'default' %}
                    <li>
                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                            {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">
                        {% endif %}
                            <i class="fa fa-{{my_page.icon}}"></i>{{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </nav>
    </div>
</header>


-->
