 {% assign navurl = page.url | remove: 'index.html' %}
    <ul>
    {% for item in include.nav %}
        <li>
            <a style="color: red;" href="{{ item.url }}">
                {% if item.url == navurl %}
                    <b>{{ item.text }}</b>
                {% else %}
                    {{ item.text }}
                {% endif %}
            </a>
        </li>
        {% if item.subitems and navurl contains item.url %}
            <li style=“padding-left: 20px;”>
            {% include nav.html nav=item.subitems %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>