<html>

<head>

				<link rel="icon" type="image/jpg" href="/favicon.jpg">
			  <meta name="viewport" content="width=device-width, initial-scale=1.0">

			  <script type="text/javascript" id="MathJax-script" async
			  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
			  </script>

				 
				
  		<div id="bg-image"></div>

</head>











							<!-- Google tag (gtag.js) -->
						<script async src="https://www.googletagmanager.com/gtag/js?id=G-T8EJ89GXH2"></script>
						<script>
						  window.dataLayer = window.dataLayer || [];
						  function gtag(){dataLayer.push(arguments);}
						  gtag('js', new Date());

						  gtag('config', 'G-T8EJ89GXH2');
						</script> 













{%- include head.html -%}

  
 
 
  <body class="body-css">


				<div>
		    {%- include header.html -%}
		    </div>



		    <div class="main-content">
		    		{{ content }}
		    		<div class="additional-content">
		    		</div>
				</div>



		    <div>
		    	{%- include footer.html -%}
				</div>



  </body>
		 
</html> 
	
																		


																		
	
	

   

  